//Colors
$light-cyan: #9AE3E3;
$cyan: #2BD0D0;
$transparent: #FFFFFF;
$white: #EFF1F7;
$gray: #9E9AA8;
$dark-gray: #34313D;
$purple: #4B3F6B;
$dark-purple: #3A3054;
$red: #F46363;

//Transition Duration
$duration: 700ms;

//Max Container Size
$max-w: 69.375rem; //1110px

//BreakPoints Size
$size-sm: 40rem; //640px
$size-md: 48rem; //768px
$size-lg: 64rem; //1024px
$size-xl: 80rem; //1280px
$size-2xl: 96rem; //1536px
